body,
html {
    font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    outline: none !important;
    color: black !important;
}

ul {
    list-style: none;

}

.bg-info {
    background: #fff !important;
}

.font-bottom {
    font-size: 12px;
    text-align: center;
    color: black;
}


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

.bo {
    border: 1px solid red;
}

input,
button,
select,
textarea {
    outline: none;
}

body,
html {
    font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

.ihover:hover {
    color: blueviolet;
}

.nul li {
    margin: 0 10px;
}

.fbold {
    font-weight: bold;
}

.cinput {
    outline-color: invert;
    outline-style: none;
    outline-width: 0px;
    border: none;
    border-style: none;
    text-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: text;
    outline-color: transparent;
    box-shadow: none;
}

.cinput:focus,
.cinput:active:focus,
.cinput.active:focus,
.cinput.focus,
.cinput:active.focus,
.cinput.active.focus {
    outline: none;
    box-shadow: none;
    background: #fff;
    color: black;
}

.cinput.active.focus,
.jumpnext {
    border-bottom: 1px solid #aaa;
}

input::-webkit-input-placeholder {
    font-size: 26px;
    font-weight: lighter;
    text-indent: 6px;
}

input:-moz-placeholder {
    font-size: 26px;
    font-weight: lighter;
    text-indent: 6px;
}

input::-moz-placeholder {
    font-size: 26px;
    font-weight: lighter;
    text-indent: 6px;
}

input:-ms-input-placeholder {
    font-size: 26px;
    font-weight: lighter;
    text-indent: 6px;
}

.divForm {

    position: absolute;
    /*绝对定位*/

    width: 984px;

    height: 200px;

    text-align: center;
    /*(让div中的内容居中)*/

    top: 50%;

    left: 50%;

    margin-top: -200px;

    margin-left: -477px;

}

.content {
    display: none;
}

.image_content {
    width: 100px;
    display: none;
}

.image_content img {
    width: 100px;
    height: 100px;
}

.main_center {
    width: 960px;
    height: 210px;
    margin: 0 auto;
    margin-top: 50px;
}

.main_center>.row>div {
    width: 320px;
    height: 210px;
    border-left: 1px solid #bbbbbb;
}

.main_center>.row>div:nth-child(1) {
    border-left: none;
}

.topbar {
    display: none;
}

#footer {
    margin-top: 20px;
    height: 300px;
    background: blueviolet;
    display: none;
}

.foot-content>div>div {
    height: 54px;
    line-height: 54px;
    margin: 10px 0;
    /* border: 1px solid red; */
}

.foot-content img {
    height: 100px;
    width: 170px;
}

.icon {
    width: 36px;
    height: 36px;
    line-height: 36px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.copyright {
    margin-bottom: 20px;
}

.copyrights {
    font-size: 12px;
    text-align: center;
}

.copyrights a {
    text-decoration: none;
    outline: none;
    color: black;
    cursor: pointer;
}

.main-content {
    margin-top: 40px;
}
/* 
a:focus {
    outline: none;
}

x .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}

.push {
    height: 120px;
}

.container{
    display:none;
}
.span3 img{
    width: 265px;
}
 */


 .p-2{
     padding: 0!important;
 }